.arrow {
  position: absolute;
  margin-right: 10%;
  fill: #fff;
  top: 50%;
  transition: transform 0.3s;
  z-index: 10;
}

.arrow.right {
  transform: scale(0.6);
  left: calc(100% - 80px);
}

.arrow.right:hover {
  transform: scale(1);
}

@media screen and (max-width: 700px) {
  .arrow {
    visibility: hidden;
  }
}
